@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or App.css */

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(243, 241, 241, 0.5); /* purple-500 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 97, 102, 0.7);
}