name: Zandar CI

# TRIGGER: When to run?
# on Push to Main or Pull Request
on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

# JOBS: What to do?
jobs:
  # 1. CI ( Security Guard )
  test:
    runs-on: ubuntu-latest  # The fresh Linux VM
    steps:
      # Get the Code
      - name: Checkout Code
        uses: actions/checkout@v4

      # run the test stage
      - name: Run unit Tests
        run: docker build --target test ./backend

  push-image:
    needs: test # If tests fail, do not upload.
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # only push from Main branch

    steps:
      - uses: actions/checkout@v4

      # Login to the warehouse
      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          
      # Build the final image and Upload it
      - name: Buid and Push
        uses: docker/build-push-action@v5
        with: 
          context: ./backend
          target: release 
          push: true
          tags: | 
              ${{ secrets.DOCKERHUB_USERNAME }}/zandar-backend:latest
              ${{ secrets.DOCKERHUB_USERNAME }}/zandar-backend:${{ github.sha }}